.icon {
    font-size: 35px;
}

.my-card:hover {
    background-color: rgb(52, 0, 100);
    color: white;
    transition: all 0.5s;
}

.my-card:hover .icon {
    color: white;
    font-size: 35px;
    transition: all 0.5s;
}

.title-text {
    font-size: 20px;
}

.botom-nav-hover {
    color: #949494;
}

.botom-nav-hover:hover {
    color: #ff5900;
    transition: 0.5s;
}

.botom-icon {
    font-size: 27px;
}

.botom-nav-text {
    font-size: 12px;
}